<a href="https://colab.research.google.com/github/RLennon614/Python-Projects/blob/main/Copy_of_Day1_Python_Notebook_RL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('My father\'s favourite car is Toyota')

print("The itsy bitsy spider\nclimbed up the waterspout.")

print()

print("Down came the rain\nand washed the spider out.")

print(len("I am learning Python"))

My father's favourite car is Toyota
The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.
20

In [ ]:
print("\\")

\

In [ ]:
print("2" + "3")

print(2 + 3)

23
5

When used between string objects, + will behave like concatenation operator

When used between numeric objects, + will behave like arithmetic operator

In [ ]:
print("2", "3")

2 3

In [ ]:
print("2", 3, True, 3.14)

2 3 True 3.14

In [ ]:
my_name = "Robert"

## This code will assign value Robert to variable my_name

In [ ]:
my_age = 18
print(my_age)

18

In [ ]:
my_age = 33
your_age = 30
my_age = your_age # in this step value of your_age will be assigned to my_age
print(my_age)

30

Naming Rules
dont start with numbers
dont use space in variable name
Dont start with uppercase
you can only use _

Input() Function

In [ ]:
input("Write something:")

Write something:Robert

'Robert'

In [ ]:
print("Tell me a joke.")
anything = input()
print("Hmm.. ", anything, "interesting")

Tell me a joke.
i wish for somwthing
Hmm..  i wish for somwthing interesting

In [ ]:
# simple calculator
print("This is a simple calculator.")
number1 = input("Enter the first number: ")
number2 = input("Enter the second number: ")

print(number1, "added to", number2, "is", number1+number2)

print(type(number1))
print(type(number2))

This is a simple calculator.
Enter the first number: 100
Enter the second number: 500
100 added to 500 is 100500
<class 'str'>
<class 'str'>

There are 3 function for type conversion
int(): convert to integer data type
str(): convert to string data type
float(): convert to decimal

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = int(input("Enter the first number: ")) # input converted to int
number2 = int(input("Enter the second number: ")) # input converted to int

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 10
Enter the second number: 10
10 added to 10 is 20

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 3.2
Enter the second number: 4
3.2 added to 4.0 is 7.2

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

print(number1, "divided by", number2, "is", number1/number2)

print(number1, "multiply by", number2, "is", number1*number2)

This is a simple calculator.

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

print(number1, "divided by", number2, "is", number1/number2)

print(number1, "multiply by", number2, "is", number1*number2)

print(number1, "raised to power", number2, "is", number1**number2)

print(number1, "square root", "is", number1**0.5)